build/**
target/**
bin/**
**/*.class
seen*
lib/**
*.messages
functions.txt
variables.txt
admin.txt
ignore.txt
banned.txt
discord/node_modules/
discord/npm-debug.log
discord/package-lock.json
backup.sql.gz
experimental/**
.classpath
.project
.settings/
.settings/org.eclipse.jdt.core.prefs
