<configuration>
  <service name="SQL" class="ca.welbog.kevbot.persist.ConnectionProvider"/>
  
  <!-- Admin-only core commands -->
  <responder type="standard" name="chgnick" class="ca.welbog.kevbot.responder.ChangeNicknameResponder" admin="true"/>
  <responder type="standard" name="say-act" class="ca.welbog.kevbot.responder.SayActResponder" admin="true"/>
  <responder type="standard" name="join-leave" class="ca.welbog.kevbot.responder.JoinLeaveResponder" admin="true"/>
  <responder type="standard" name="rebuildnotable" class="ca.welbog.kevbot.responder.markov.RebuildNotableResponder" admin="true"/>
  
  <!-- Non-admin core commands -->
  <responder type="standard" name="quiet" class="ca.welbog.kevbot.responder.AddressingModeResponder"/>
  <responder type="standard" name="seen" class="ca.welbog.kevbot.responder.SeenResponder"/>
  <responder type="standard" name="karma" class="ca.welbog.kevbot.responder.KarmaResponder"/>
  <responder type="standard" name="messaging" class="ca.welbog.kevbot.responder.MessagingResponder"/>
  <responder type="standard" name="shownotable" class="ca.welbog.kevbot.responder.markov.ShowNotableResponder"/>
  <responder type="standard" name="factoid" class="ca.welbog.kevbot.responder.factoid.FactoidResponder"/>
  <responder type="standard" name="status" class="ca.welbog.kevbot.responder.StatusResponder"/>
  <responder type="standard" name="forget-unforget" class="ca.welbog.kevbot.responder.factoid.ForgetUnforgetResponder"/>
  <responder type="standard" name="specific-forget" class="ca.welbog.kevbot.responder.factoid.SpecificForgetResponder"/>
  
  <!-- Recursive commands -->
  <responder type="recursive" name="date" class="ca.welbog.kevbot.responder.DateResponder" />
  
  <responder type="recursive" name="markovby" class="ca.welbog.kevbot.responder.markov.MarkovByResponder" />
  <responder type="recursive" name="markov" class="ca.welbog.kevbot.responder.markov.MarkovResponder" />
  <responder type="recursive" name="seedlessmarkovby" class="ca.welbog.kevbot.responder.markov.SeedlessMarkovByResponder" />
  <responder type="recursive" name="seedlessmarkov" class="ca.welbog.kevbot.responder.markov.SeedlessMarkovResponder" />
  <responder type="recursive" name="guess" class="ca.welbog.kevbot.responder.markov.GuessResponder" />
  <responder type="recursive" name="guessby" class="ca.welbog.kevbot.responder.markov.GuessByResponder" />
  <responder type="recursive" name="s2by" class="ca.welbog.kevbot.responder.markov.S2Responder" />
  
  <responder type="recursive" name="dice" class="ca.welbog.kevbot.responder.math.DiceResponder" />
  <responder type="recursive" name="shadowdice" class="ca.welbog.kevbot.responder.math.ShadowrunDiceResponder" />
  <responder type="recursive" name="math" class="ca.welbog.kevbot.responder.math.MathResponder" />
  
  
  <!-- Non-responding responders (aka listeners) -->
  <responder type="standard" name="markovlisten" class="ca.welbog.kevbot.responder.markov.MarkovListenerResponder" />
  <responder type="standard" name="factoidlisten" class="ca.welbog.kevbot.responder.factoid.ReplyListenerResponder"/>
  
  <!-- The only command that actually causes recursion -->
  <responder type="recursive" name="replies" class="ca.welbog.kevbot.responder.factoid.ReplyResponder"/>
  
  
</configuration>